In [128]:
import os
import env
from pydataset import data
import pandas as pd
import numpy as np
import matplotlib as plt
import scipy.stats as stats
import seaborn as sns
from env import host, username, password
from matplotlib import pyplot

In [8]:
os.path.exists('env.py')

True

In [9]:
# For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), 
# - then give an example of what a true positive, true negative, type I and type II errors would look like. 
# - Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as 
# - more precise questions that could be tested.

In [10]:
def get_db_url(e):
    if env:
        user = env.username
        password = env.password
        host = env.data.codeup.com

In [12]:
def get_db_url(username, hostname, password, database):
    url = f'mysql+pymysql://{username}:{password}@{hostname}/{database}'
    return url

In [17]:
url = get_db_url(username, host, password, 'employees')

pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

# Has the network latency gone up since we switched internet service providers?
##### Null hypothesis: The network latency has not changed since providers were switched
##### Alternative Hypothesis: There has been an increase in latency since we switched providers
##### True Negative: Latency was presumed to have changed, and reality has proved that assumption to be True
##### True Positive: Latency was presumed to not have changed, and reality has proved that assumption to be True
##### False Positive (Type I): Latency was presumed to have changed, and reality has proved that assumption to be False
##### False Negative (Type II): Latency was presumed to not have changed, and reality has proved our assumption it to be False

# Is the website redesign any good?
##### Null hypothesis: Our website has not experienced any additional users since it was redesigned
##### Alternative Hypothesis: Our website has more users since it was redesigned
##### True Negative: We assumed the redesign brought more users, and reality has proved that assumption to be True
##### True Positive: We assumed the redesign did not bring more users, and reality has proved that assumption to be True
##### False Positive (Type I): We assumed the redesign brought more users, and reality has proved that assumption to be False
##### False Negative (Type II): We assumed the redesign did not bring more users, and reality has proved that assumption to be True

# Is our television ad driving more sales?
##### Null hypothesis: Our sales remained the same after the television ad was aired
##### Alternative Hypothesis: Our ad increased our sales
##### True Negative: We assumed the ad increased our sales, and reality has proved that assumption to be True
##### True Positive: We assumed the ad did not affect our sales, and reality has proved that assumption to be True
##### False Positive (Type I): We assumed the ad increased our sales, and reality has proved that assumption to be False
##### False Negative (Type II): We assumed the ad did not affect our sales, and reality has proved that assumption to be False

## Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [47]:
#Null Hyothesis(H0) = Office 1's time to sell is the same as (==) Office 2
#Alternate Hypothesis(Hα) = Office 1's time to sell is not the same as (!=) Office 2

two-tailed test because we are testing for inequality. Two samples.

$H_0$
$H_a$

In [124]:
o1 = stats.norm(90, 15).rvs(40)
o2 = stats.norm(100, 20).rvs(50)

In [125]:
o1

array([ 90.06773767,  97.9761323 ,  96.96304565,  99.67560884,
        89.76142677,  72.11554527,  94.35833067,  94.34339612,
        89.14473748,  91.65450437,  92.8148652 ,  80.48152392,
        98.27327062,  92.39091244,  99.11288766,  87.04005851,
        95.23968903,  86.04295332,  96.76337863,  84.04563773,
        75.32851939, 113.78248807,  91.24850222,  81.66695188,
       101.17281468,  81.87721622,  87.56434652, 103.95823249,
        78.71404645,  81.04574182,  83.42425516,  81.13652423,
        80.76942361,  76.96125687,  91.35991299,  74.54507937,
        87.70688778,  90.08831264,  78.08215079,  92.04985149])

##

In [126]:
o2

array([ 86.12594796, 123.45007776, 115.14785712, 121.51271516,
       129.98180888, 122.69953493,  96.38470077, 114.89516616,
        82.52787643, 119.26313762,  73.22517784,  93.52100631,
       102.6481429 , 130.07847916, 117.61752414,  91.36418511,
       117.79003678, 102.09915232,  77.83290072, 100.70561729,
       120.80798391,  78.79502719, 113.59145915,  74.65910888,
       104.97963605,  83.02459856, 103.40117895, 101.16845352,
       101.05576289,  86.66565165, 113.22567424,  97.11855291,
       128.91357363, 108.13655701, 115.38364025, 110.76121517,
       118.12130384, 102.5336277 ,  71.73169878,  63.38438851,
       104.26701771,  88.51349866,  84.73647508,  71.05704397,
       114.71608213,  81.6622022 ,  75.23857451, 120.92232839,
       106.92346544,  84.87623072])

In [129]:
x = np.arange(40,150)
y1 = stats.norm(90, 15).pdf(x)
y2 = stats.norm(100, 20).pdf(x)
plt.plot(x, y1)
plt.plot(x, y2)

AttributeError: module 'matplotlib' has no attribute 'plot'

In [130]:
#variance: levene test them

In [ ]:
stat, p_val = stats.levene(o1, o2)

In [ ]:
if p_val < alpha:
    print('We can reject H0')

In [134]:
t_stat, p_val = stats.ttest_ind(o1, o2, equal_var=False)

In [133]:
stats.ttest_ind_from_stats(90,15,40,100,20,50,equal_var=False)

Ttest_indResult(statistic=-2.7091418459143854, pvalue=0.00811206270346016)

# Load the mpg dataset and use it to answer the following questions:

### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
##### Two-tailed. Two samples
### Are compact cars more fuel-efficient than the average car?
### Do manual cars get better gas mileage than automatic cars?

In [46]:
'''Set the alpha value'''
alpha = 0.05

In [35]:
'''Load the mpg database'''
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [135]:
len(mpg)

234

In [45]:
'''I want to see how many vehicles are each year within mpg '''
mpg.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [54]:
#mpg.cty.hist()

In [59]:
mpg_2008 = mpg[mpg.year == 2008]
mpg_2008.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mpg
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,23.0

In [58]:
mpg['mpg'] = (mpg.cty + mpg.hwy) / 2
mpg.head(3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5

In [71]:
'''printing out all of the means of city mpg, hwy mpg, and combined mpg. I then checked to see if the combined 
mpg mean fell exactly in the middle of the two.'''
print('The mean 2008 city mpg is', mpg_2008.cty.mean())
print('The mean 2008 hwy mpg is', mpg_2008.hwy.mean())
print('The mean 2008 overall mpg is', mpg_2008.mpg.mean())
print((mpg_2008.hwy.mean() - mpg_2008.cty.mean()) / 2)
3.3760683760683747 + 16.700854700854702

The mean 2008 city mpg is 16.700854700854702
The mean 2008 hwy mpg is 23.45299145299145
The mean 2008 overall mpg is 20.076923076923077
3.3760683760683747

20.076923076923077

In [69]:
t, p = stats.ttest_1samp(mpg_2008.mpg, mpg.mpg.mean())
print(t, p/2, alpha)

-0.16008114413515914 0.43654778867014654 0.05

In [60]:
mpg_1999 = mpg[mpg.year == 1999]
mpg_1999.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0

In [72]:
t1, p1 = stats.ttest_1samp(mpg_1999.mpg, mpg.mpg.mean())
print(t1, p1/2, alpha)

0.1508899422586622 0.4401623075459281 0.05

## Are compact cars more fuel-efficient than the average car?¶

In [91]:
mpg_mean = mpg.mpg.mean()
mpg_mean

20.14957264957265

In [90]:
compact = mpg[mpg['class'] == 'compact']
compact.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [99]:
compact_mpg = compact.mpg.mean()
compact_mpg

24.21276595744681

In [103]:
p, t = stats.ttest_1samp(compact.mpg, mpg_mean)
print(t, ',', p/2, ',', alpha)

4.1985637943171186e-10 , 3.9484442865662674 , 0.05

In [104]:
p/2 > t

True

In [105]:
if ((p / 2) < α) and (t > 0):
    print('we can reject H0')
else: 
    print('we fail to reject H0')

we fail to reject H0

## Do manual cars get better gas mileage than automatic cars?

In [86]:
manual = mpg[mpg['trans'].str.contains('manual')]
automatic = mpg[mpg['trans'].str.contains('auto')]
manual.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mpg
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0

In [83]:
manual.mpg.mean()

22.227272727272727

In [106]:
'''Disregard, we need to be comparing manuals to automatics and not manuals to the entire dataframe mpg'''
p, t = stats.ttest_1samp(manual.mpg, mpg_mean)
print(t, ',', p/2, ',', alpha)

0.0007034372080173209 , 1.7663245577346898 , 0.05

In [87]:
automatic.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5

In [88]:
automatic.mpg.mean()

19.130573248407643

In [122]:
automatic.mpg.var()

21.942777233382337

In [123]:
manual.mpg.var()

26.635167464114826

In [137]:
len(automatic)

157

In [138]:
len(manual)

77

In [140]:
automatic.mpg.std()

4.68431182068213

In [141]:
manual.mpg.std()

5.160926996588387

In [ ]:
#stats.ttest_ind_from_stats(90,15,40,100,20,50,equal_var=False)

In [ ]:
stats.ttest_ind_from_stats(automatic.mpg.std(),157,manual.mpg.std(),77equal_var=False)

In [107]:
p, t = stats.ttest_1samp(automatic.mpg, mpg_mean)
print(t, ',', p/2, ',', alpha)

0.007150322638488081 , -1.3628496980094438 , 0.05

In [121]:
t,p = stats.ttest_ind(automatic.mpg, manual.mpg, equal_var=True)
t,p

(-4.593437735750014, 7.154374401145685e-06)

In [119]:
t,p = stats.ttest_ind(manual.mpg, automatic.mpg, equal_var=True)
t,p

(4.593437735750014, 7.154374401145685e-06)

In [ ]:
t_stat, pval = stats,ttest_ind()
t_stat, pval = stats,ttest_ind()